@import "tailwindcss";
div::-webkit-scrollbar {
    display: none;
}
.input{
    top: 800px;
}
@media (max-width:375px) {
    #history{
        display: none;
    }
    #container{
        padding-left: 0px;
    }
    #search{
        transform: scale(0.9,0.8);
        margin: auto;
        margin-left: -50px;
        margin-bottom: 150px;
        width: 80%;
    }
}