@import "tailwindcss";

div::-webkit-scrollbar {
    display: none;
}

.input {
    top: 800px;
}

@media (max-width:375px) {
    #container {
        padding-left: 0px;
    }

    #search {
        transform: scale(0.9, 0.8);
        margin: auto;
        margin-left: -80px;
        margin-bottom: 150px;
        width: 90%;
    }
}

@media (max-width:440px) {
    #history {
        display: none;
    }
    .main-container {
        width: 100vw;
        align-items: center;
        padding: 5px;
    }
    .container {
        padding-top: 1.5rem;
    }
}

